.article {
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: $dark-4;
  }

  &-banner {
    height: auto;
    width: 100%;
    z-index: 0;
  }

  &-header,
  &-part {
    width: $article-width;
    z-index: 1;

    @media screen and (max-width: 1200px) {
      width: $article-width-tablet;
    }

    @media screen and (max-width: 900px) {
      width: $article-width-mini-tablet;
    }

    @media screen and (max-width: 767px) {
      width: $article-width-large-mobile;
    }

    @media screen and (max-width: 475px) {
      width: $article-width-mobile;
    }
  }

  &-header {
    padding: 4rem 0;
    color: $dark-1;
    background-color: $dark-4;

    .title {
      margin-bottom: 1.5rem;
      font-size: 64px;
      color: $black;

      @media screen and (max-width: 475px) {
        font-size: 48px;
      }

      @media screen and (max-width: 414px) {
        font-size: 42px;
      }
    }

    .subtitle {
      margin-bottom: 2rem;
      font-size: 26px;
      line-height: 1.4;
    }

    .quote {
      color: darken($dark-2, 20%);
      padding-left: 1.5rem;
      border-left: 5px solid $dark-2;
      box-sizing: border-box;
    }
  }

  &-part {
    .title {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-end;
      margin: 2rem 0 1rem 0;
      font-size: 32px;
      letter-spacing: 2pt;
      line-height: 1.4;
    }

    .subtitle {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-end;
      margin: 2.5rem 0 1rem 0;
      font-size: 28px;
      letter-spacing: 1pt;
      line-height: 1.4;

      &.pseudo-title {
        position: relative;
        display: inline;

        > span {
          display: none;
        }

        > img {
          width: 100%;
        }

        @media screen and (max-width: 575px) {
          > span {
            display: inherit;
          }

          > img {
            display: none;
          }
        }
      }
    }

    .paragraph {
      margin: 1.2rem 0;
      font-size: 18px;
      letter-spacing: 1pt;
      line-height: 1.6;
      text-align: justify;
      text-justify: inter-character;
    }
  }

  &-figure {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    box-sizing: border-box;

    &.float {
      &-left {
        float: left;
      }

      &-right {
        float: right;
      }

      padding: 1rem;
      width: 50%;

      @media screen and (max-width: 640px) {
        width: 100%;
        padding: 1rem 0;
        padding-top: 8rem;

        & + h2.subtitle {
          position: absolute;
        }
      }
    }

    &-img {
      width: 100%;
      height: auto;
    }

    &-caption {
      margin: 1rem 0;
      font-size: 15.6px;
      line-height: 1.4;
      text-align: center;
      color: $dark-1;

      > span {
        font-family: inherit;
      }
    }
  }

  &-line-through {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include flexBoxCenter;
    appearance: none;
    border: none;
    margin: 4rem 0;
    z-index: 1;

    @media screen and (max-width: 475px) {
      margin: 2.5rem 0;
    }

    &:before {
      content: "．．．．．";
      font-size: 24px;
      font-weight: 700;
      color: $dark-2;
      line-height: 1;
      letter-spacing: 32px;
      z-index: 1;
    }
  }

  &-footnote {
    font-size: 12px;
    color: $gray;
    cursor: pointer;
  }
}
