.banner {
  &-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: all ease-in-out .3s;

    &:hover {
      filter: none;
    }
  }

  &-img {
    height: 100%;
    width: 100%;
    @include imgBackground;
  }
}